body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  background-color: #24292e;
  color: white;
}

section {
  min-height: 100vh;
  padding: 5rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
}

li {
  font-size: 1rem;
}

.banner {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: rgb(200, 130, 0);
}

nav {
  display: flex;
  justify-content: right;
  padding: 2rem;
  position: sticky;
  top: 0;
  background-color: rgb(27, 30, 33);
}

a {
  color: white;
}

.menu > a {
  text-decoration: none;
  font-size: 1rem;
}

.menu {
  display: flex;
  gap: 2rem;
}

.menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.menu-icon span {
  width: 100%;
  height: 0.25rem;
  background-color: white;
  border-radius: 0.125rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.card {
  background-color: rgb(46, 48, 50);
  padding: 2rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 0.5rem;
}

.card button {
  width: 100%;
}

button {
  background-color: rgb(27, 30, 33);
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgb(46, 48, 50);
}

button:disabled:hover {
  background-color: rgb(27, 30, 33);
  cursor: default;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: rgb(27, 30, 33);
}

/* Responsiveness */

@media screen and (max-width: 1100px) {
  section {
    padding: 1rem 2rem 0 2rem;
    scroll-margin-top: 0rem;
  }

  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 3rem;
  }

  p {
    font-size: 1.5rem;
  }

  li {
    font-size: 1.5rem;
  }
  
  .container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  
  .card {
    padding: 1rem;
  }

  nav {
    justify-content: space-between;
    padding: 1rem;
  }

  nav > a {
    display: none;
    font-size: 1.5rem;
    margin: 0 1rem;
  }

  .menu-icon {
    display: flex;
  }

  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: rgb(36, 41, 46);
    position: absolute;
    top: 4rem;
    left: 0;
    z-index: 99;
  }

  .menu > a {
    display: block;
    padding: 1rem;
    text-align: center;
  }

  .menu-toggle:checked + .menu-icon + .menu {
    display: flex;
  }
}
